@import './style/navbar.css';
@import './style/item-page.css';

body{
  font-family: 'Exo 2', sans-serif;
  max-width: 100%;
  background-color: #f8f9fa !important;
}
.sidebar{
    height: 100vh;
    padding: 10px;
}
.btn-light{
    width: 100%;
    margin: 3px;
    background: none;
    color: white;
    border: none
}

.row{
  margin: 0px;
}
/* 
td > form {
  max-width: 33%;
  margin: 0px;
} */

input.form-control {
  width: 20vw;
  font-size: 0.7rem;
}

/* New Entry Form Css */
